.one:hover{
    color: gold;
    font-size: 20px;
}

.two:hover{
    color: gold;
    font-size: 20px;
}

.three:hover{
    color: gold;
    font-size: 20px;
}

.four:hover{
    color: gold;
    font-size: 20px;
}

.five:hover{
    color: gold;
    font-size: 20px;
}



